# Series

In [3]:
import numpy as np
import pandas as pd

In [5]:
# Create a series
ser = pd.Series([3,6,9,12])
ser

0     3
1     6
2     9
3    12
dtype: int64

In [6]:
ser.values

array([ 3,  6,  9, 12])

In [7]:
ser.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
# Create a series with pre-defined indexes
ww2_cas = pd.Series([8700000, 4300000, 3000000, 2100000, 4000000],
                   index = ['USRR', 'Germany', 'China', 'Japan', 'USA'])
ww2_cas

USRR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA        4000000
dtype: int64

In [11]:
ww2_cas['USA']

4000000

In [13]:
ww2_cas[ww2_cas > 4000000]

USRR       8700000
Germany    4300000
dtype: int64

In [14]:
'USRR' in ww2_cas

True

In [16]:
ww2_dict = ww2_cas.to_dict()
ww2_dict

{'China': 3000000,
 'Germany': 4300000,
 'Japan': 2100000,
 'USA': 4000000,
 'USRR': 8700000}

In [20]:
ww2_ser = pd.Series(ww2_dict)
ww2_ser

China      3000000
Germany    4300000
Japan      2100000
USA        4000000
USRR       8700000
dtype: int64

In [23]:
# Create a dataframe
dframe1 = pd.DataFrame([[1, 2, np.nan], [np.nan, 3, 4]],
                      index = ['A', 'B'],
                      columns = ['One', 'Two', 'Three'])
dframe1

   One  Two  Three
A  1.0    2    NaN
B  NaN    3    4.0